.mobile-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 27px;
  right: 16px;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      width: 22px;
      height: 2px;
      background-color: #000;
    }
    &:before {
      top: 11px;
    }
    &:after {
      top: 19px;
      width: 22px;
    }
}

@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}
